@import anomalydetection._
@import dao.ProductsDAO
@import util.FutureUtils._
@(detectors: java.util.Set[AnomalyDetector])(implicit productsDAO: ProductsDAO)

@severityBootstrapClass(severity: AnomalySeverity) = {
    @severity match {
        case Low => { active }
        case Medium => { }
        case Significant => { warning }
        case Critical => { danger }
    }
}

@layout_admin_simple(Seq("Anomaly overview")) {
    <p id="loadStatus">

    </p>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <td>Level</td>
                    <td>Name</td>
                    <td>Related links</td>
                </tr>
            </thead>
            <tbody id="anomalies">
            </tbody>
        </table>
    </div>

    <script type="application/javascript">
        var anomalies = document.getElementById("anomalies");

        var anomalyPaths = [
            @for(det <- detectors) {
                "@controllers.admin.routes.Anomalies.fetch(det.id)",
            }
        ];
        var anomalyLoadStatuses = {};

        function updateLoadStatuses() {
            var stillLoading = [];

            for (var al in anomalyLoadStatuses) {
                if (anomalyLoadStatuses[al]) {
                    stillLoading.push(al);
                }
            }

            document.getElementById("loadStatus").innerText = stillLoading.length > 0 ? ("Loading anomalies: " + stillLoading.join(", ")) : "";
        }

        function createTd(text) {
            var td = document.createElement("td");
            td.innerText = text;
            return td;
        }

        anomalyPaths.forEach(function(path) {
            var req = new XMLHttpRequest();
            anomalyLoadStatuses[path] = true;

            req.onreadystatechange = function() {
                if (req.readyState == 4 && req.status == 200) {
                    var parsed = JSON.parse(req.responseText);

                    if (parsed.status == "ok") {
                        parsed.anomalies.forEach(function(anomaly) {
                            var row = document.createElement("tr");

                            row.appendChild(createTd(anomaly.severity));
                            row.appendChild(createTd(anomaly.desc));

                            var links = document.createElement("td");
                            anomaly.links.forEach(function(link) {
                                var a = document.createElement("a");
                                a.innerText = link.name;
                                a.setAttribute("href", link.link);
                                a.setAttribute("class", "btn btn-info");
                                links.appendChild(a);
                            });
                            row.appendChild(links);

                            anomalies.appendChild(row);
                        });
                    }

                    anomalyLoadStatuses[path] = false;
                    updateLoadStatuses();
                }
            };
            req.open("GET", path, true);
            req.send();
        });

        updateLoadStatuses();

    </script>
}