@import dao.ProductsDAO
@import dao.PingsDAO
@import dao.PingExtrasDAO
@import dao.ResponsesDAO
@import util.FutureUtils._
@import util.TwirlUtils._
@import cyan.backend.Backend
@import dao.ProductConfigDAO
@(ip: String)(implicit backend: Backend, productsDAO: ProductsDAO, productConfigDAO: ProductConfigDAO, pingExtrasDAO: PingExtrasDAO, pingsDAO: PingsDAO, responsesDAO: ResponsesDAO)

@layout_admin_simple(Seq("IPs", html"<code>${ip}</code>")) {
    <h3>Recent pings from IP <code>@ip</code></h3>

    @snippet.ping_table(pingsDAO.findRecentByIp(ip, 15).await, showProduct = true)
}