@import dao.ProductsDAO
@import dao.PingsDAO
@import dao.PingExtrasDAO
@import dao.ResponsesDAO
@import util.FutureUtils._
@import play.twirl.api.StringInterpolation
@import cyan.backend.Backend
@import dao.ProductConfigDAO
@this(layout_admin_simple: views.html.admin.layout_admin_simple)(implicit backend: Backend, productsDAO: ProductsDAO, productConfigDAO: ProductConfigDAO, pingExtrasDAO: PingExtrasDAO, pingsDAO: PingsDAO, responsesDAO: ResponsesDAO)
@(ip: String)

@layout_admin_simple(Seq("IPs", html"<code>${ip}</code>")) {
    <h3>Recent pings from IP <code>@ip</code></h3>

    @snippet.ping_table(pingsDAO.findRecentByIp(ip, 15).await, showProduct = true)
}