@import dao.ProductsDAO
@import dao.PingsDAO
@import dao.PingExtrasDAO
@import dao.ResponsesDAO
@import util.FutureUtils._
@import cyan.backend.Backend
@import dao.ProductConfigDAO
@this(layout_admin_simple: views.html.admin.layout_admin_simple)(implicit backend: Backend, productsDAO: ProductsDAO, productConfigDAO: ProductConfigDAO, pingExtrasDAO: PingExtrasDAO, pingsDAO: PingsDAO, responsesDAO: ResponsesDAO)
@()(implicit req: RequestHeader)

@layout_admin_simple() {
    <h3>Recent pings</h3>

    @snippet.paged_ping_table(
        page => pingsDAO.findRecent(15, page * 15).await,
        (pingsDAO.findEstimatedCount().await / 15.0).ceil.toInt,
        controllers.admin.routes.Main.index(), showProduct = true)
}