@import dao.ProductsDAO
@import dao.PingsDAO
@import dao.PingExtrasDAO
@import dao.ResponsesDAO
@import util.FutureUtils._
@import cyan.backend.Backend
@import dao.ProductConfigDAO
@()(implicit req: RequestHeader, backend: Backend, productsDAO: ProductsDAO, productConfigDAO: ProductConfigDAO, pingExtrasDAO: PingExtrasDAO, pingsDAO: PingsDAO, responsesDAO: ResponsesDAO)

@layout_admin_simple() {
    <h3>Recent pings</h3>

    @snippet.paged_ping_table(page => pingsDAO.findRecent(15, page * 15).await, controllers.admin.routes.Main.index(), showProduct = true)
}