@import model.Product
@import model.Response
@import model.ProductLicense
@import dao.PingResponsesDAO
@import dao.ProductsDAO
@import util.FutureUtils._
@import dao.ResponsesDAO
@import dao.ProdLicensePingDAO
@import util.FutureUtils._
@import shapeless._
@import dao.PingExtrasDAO
@import scala.concurrent.Future
@import scala.concurrent.ExecutionContext.Implicits.global
@import util.TwirlUtils._
@import dao.ProductConfigDAO
@import dao.PingsDAO
@(prodLicense: ProductLicense)(implicit productsDAO: ProductsDAO, pingsDAO: PingsDAO, productConfigDAO: ProductConfigDAO, responsesDAO: ResponsesDAO, pingExtrasDAO: PingExtrasDAO, pingResponsesDAO: PingResponsesDAO, plpDAO: ProdLicensePingDAO)

@layout_admin_simple(Seq(("Products", controllers.admin.prod.routes.Products.list()), prodLicense.prod, html"License <code>${prodLicense.license}</code>")) {
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Configuration</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-4">
                    <label class="control-label">Default response for all users of this license:</label>
                </div>
                <div class="col-sm-8">
                    <form action="@controllers.admin.prod.routes.ProductLicenses.setProductLicenseResponse(prodLicense.prod.id, prodLicense.license)" method="post">
                        <div class="input-group">
                            @defining(pingResponsesDAO.getExactResponse(Some(prodLicense.prod.id), Some(prodLicense.license), None).await) { resp =>
                                @snippet.responseselect(resp.map(_.id).getOrElse(-1))
                            }
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-primary">Set</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <h3>Users using this license:</h3>
    <table class="table">
        <thead>
            <tr>
                <td>User</td>
                <td>Last used</td>
                <td>Extras (in latest ping)</td>
            </tr>
        </thead>
        <tbody>
            @for(ping <- plpDAO.findRecentUserPings(prodLicense).await) {
                <tr>
                    <td><a href="@controllers.admin.routes.Users.viewUser(ping.user)">@ping.user</a></td>
                    <td>@snippet.datetime(ping.date)</td>
                    <td>
                    @for(pe <- pingExtrasDAO.findExtras(ping.id).await) {
                        <a class="btn btn-info btn-xs" role="button" data-toggle="popover" data-trigger="focus" data-ping-id="@ping.id" data-pingextra-key="@pe.key">
                        @pe.key
                        </a>
                    }
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <h3>Recent pings on this license:</h3>

    @snippet.ping_table(pingsDAO.findRecentWithProdLicense(prodLicense, 15).await, showLicense = false)
}