@import model.Product
@import model.Response
@import model.ProductLicense
@import dao.PingResponsesDAO
@import dao.ProductsDAO
@import util.FutureUtils._
@import cyan.util.TwirlHelpers._
@import dao.ResponsesDAO
@import dao.ProdLicensePingDAO
@import util.FutureUtils._
@import shapeless._
@import dao.PingExtrasDAO
@import scala.concurrent.Future
@import scala.concurrent.ExecutionContext.Implicits.global
@import dao.ProductConfigDAO
@import dao.PingsDAO
@import cyan.backend.Backend
@import play.filters.csrf.CSRF

@this()(implicit productsDAO: ProductsDAO, pingsDAO: PingsDAO, productConfigDAO: ProductConfigDAO, responsesDAO: ResponsesDAO, pingExtrasDAO: PingExtrasDAO, pingResponsesDAO: PingResponsesDAO, plpDAO: ProdLicensePingDAO, backend: Backend)
@(prodLicense: ProductLicense)(implicit requestHeader: RequestHeader)

@layout_admin_simple(Seq(("Products", controllers.admin.prod.routes.Products.list()), prodLicense.prod, html"License <code>${prodLicense.license}</code>")) {
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Configuration</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-4">
                    <label class="control-label">Default response for all users of this license:</label>
                </div>
                <div class="col-sm-8">
                    <form action="@controllers.admin.prod.routes.ProductLicenses.setProductLicenseResponse(prodLicense.prod.id, prodLicense.license)" method="post">
                        @for(t <- CSRF.getToken) {
                            <input type="hidden" name="@t.name" value="@t.value"/>
                        }
                        <div class="input-group">
                            @defining(pingResponsesDAO.getExactResponse(Some(prodLicense.prod.id), Some(prodLicense.license), None).await) { resp =>
                                @snippet.responseselect(resp.map(_.id).getOrElse(-1))
                            }
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-primary">Set</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <h3>Users using this license:</h3>
    <table class="table">
        <thead>
            <tr>
                <td>User</td>
                <td>Last used</td>
                <td>Latest extras</td>
                <td>Latest response</td>
            </tr>
        </thead>
        <tbody>
            @for(ping :: extras :: response :: HNil <- plpDAO.findRecentUserPings(prodLicense).await.map(p => hsequence(Future.successful(p) :: pingExtrasDAO.findExtras(p.id) :: (p.responseId match { case Some(id) => responsesDAO.findById(id); case _ => Future.successful(None) }) :: HNil)).awaitAll) {
                <tr>
                    <td>
                        @Option(backend).map(be => be.transformUserHtml(ping.user)(_: Html)).getOrElse((x: Html) => x) {
                            <a href="@controllers.admin.routes.Users.viewUser(ping.user)">@ping.user</a>
                        }
                    </td>
                    <td>@snippet.datetime(ping.date)</td>
                    <td>@snippet.pingextras(extras)(prodLicense.prod)</td>
                    <td>@snippet.response(response)</td>
                </tr>
            }
        </tbody>
    </table>

    <h3>Recent pings on this license:</h3>

    @snippet.ping_table(pingsDAO.findRecentWithProdLicense(prodLicense, 15).await, showLicense = false)
}