@import java.awt.Color

@import dao.{PingExtrasDAO, ProductConfigDAO, ProductsDAO}
@import model.Product
@import org.joda.time.{LocalDate, LocalTime}
@import util.FutureUtils._
@import cyan.util.TwirlHelpers._

@import scala.concurrent.ExecutionContext
@import cyan.backend.Backend
@(prod: Product, pingExtraKey: String, pingExtraValue: String)(implicit ec: ExecutionContext, backend: Backend, pingExtrasDAO: PingExtrasDAO, productConfigDAO: ProductConfigDAO, productsDAO: ProductsDAO)

@layout_admin_simple(Seq(("Products", controllers.admin.prod.routes.Products.list()), prod, ("Ping extras", controllers.admin.prod.routes.ProductPingExtras.list(prod.id)), html"Key <code>${pingExtraKey}</code>", html"<code>${pingExtraValue}</code>")) {
    <h3>Associated licenses</h3>

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <td>License</td>
                </tr>
            </thead>
            <tbody>
            @for(prodLicense <- pingExtrasDAO.findProductLicensesByExtraKeyValue(prod, pingExtraKey, pingExtraValue).await) {
                <tr>
                    <td>
                    @backend.transformLicenseHtml(model.backendLicense(prodLicense.prod, prodLicense.license)) {
                        <a href="@controllers.admin.prod.routes.ProductLicenses.licenseView(prodLicense.prod.id, prodLicense.license)">@prodLicense.license</a>
                    }
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}