@import java.awt.Color

@import dao.{PingExtrasDAO, ProductConfigDAO, ProductsDAO}
@import model.Product
@import org.joda.time.{LocalDate, LocalTime}
@import util.FutureUtils._
@import cyan.util.TwirlHelpers._

@import scala.concurrent.ExecutionContext

@this()(implicit ec: ExecutionContext, productsDAO: ProductsDAO, pingExtrasDAO: PingExtrasDAO, productConfigDAO: ProductConfigDAO)
@(prod: Product, pingExtraKey: String, days: Int)

@* Calculate how many steps between each datapoint *@
@countDataStep(totalDays: Int) = @{1 + (totalDays / 100)}

@scripts(data: Seq[(Option[String], Seq[(LocalDate, Int)])]) = {

    <script type="application/javascript">
        var labels = [
            @for(i <- days to 0 by -countDataStep(days)) {
            "@LocalDate.now().minusDays(i)",
            }
        ];

        var absoluteDistribDatasets = [];
        var stackedDatasets = [];

        @for(((value, daycounts), index) <- data.zipWithIndex) {
            absoluteDistribDatasets.push({
                label: "@value match {
                case Some(x) => {@x}
                case None => {no value}
                }",
                spanGaps: true,
                borderColor: @defining(Color.getHSBColor(index.toFloat / data.length, 0.8f, 0.85f)) { clr =>
                        'rgb(@clr.getRed, @clr.getGreen, @clr.getBlue )'
                                },
                fill: false,
                data: [
                    @for(i <- days to 0 by -countDataStep(days)) {
                        @daycounts.find(_._1 == LocalDate.now().minusDays(i)).map(_._2.toString).getOrElse("null") ,
                    }
                ]
            });
            stackedDatasets.push({
                label: "@value match {
                case Some(x) => {@x}
                case None => {no value}
                }",
                spanGaps: true,
                backgroundColor: @defining(Color.getHSBColor(index.toFloat / data.length, 0.8f, 0.85f)) { clr =>
            'rgb(@clr.getRed, @clr.getGreen, @clr.getBlue )'
                    },
                data: [
                    @for(i <- days to 0 by -countDataStep(days)) {
                       @data.flatMap(_._2).groupBy(_._1).mapValues(_.map(_._2).sum).get(LocalDate.now().minusDays(i)).map(t => {
                        daycounts.find(_._1 == LocalDate.now().minusDays(i)).map(_._2).getOrElse(0).toDouble / t * 100.0
                       }).map(_.formatted("%.01f")).getOrElse("null"),
                    }
                ]
            });
        }

        var absoluteDistributionChart = new Chart(document.getElementById("chart_absDistribution").getContext("2d"), {
            type: "line",
            data: {
                labels: labels,
                datasets: absoluteDistribDatasets
            },
            options: {
                tooltips: {
                    mode: 'index',
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            min: 0
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'unique users'
                        }
                    }]
                }
            }
        });

        var uniqueAdoptionChart = new Chart(document.getElementById("chart_uniqueAdoption").getContext("2d"), {
            type: "line",
            data: {
                labels: labels,
                datasets: stackedDatasets
            },
            options: {
                tooltips: {
                    callbacks: {
                        label: function(tooltipItem, data) {
                            return tooltipItem.yLabel + '% (' + data.datasets[tooltipItem.datasetIndex].label + ')';
                        }
                    },
                    filter: function(o) {
                        return o.yLabel !== 0;
                    },
                    mode: 'index',
                },
                scales: {
                    yAxes: [{
                        stacked: true,
                        ticks: {
                            min: 0,
                            max: 100,
                            callback: function(value, index, values) {
                                return value + '%';
                            }
                        },
                    }]
                }
            }
        });
    </script>
    <script type="text/javascript">
            var usersSince = document.getElementById("timescale");
            usersSince.onchange = function() {
                window.location = jsAdminRoutes.controllers.admin.prod.ProductPingExtras.view(@prod.id, "@pingExtraKey", parseInt(this.value), null).url;
            }
    </script>
    <script type="text/javascript" src="@controllers.admin.routes.Main.javascriptRoutes"></script>
}

@defining(
        pingExtrasDAO.findProductExtraDistinctValueCountsPerDay(prod.shortName, pingExtraKey, LocalDate.now().minusDays(days), prod.queryDevLicense().await).await
) { data =>
    @layout_admin_simple(Seq(("Products", controllers.admin.prod.routes.Products.list()), prod, ("Ping extras", controllers.admin.prod.routes.ProductPingExtras.list(prod.id)), html"Key <code>${pingExtraKey}</code>"), scripts(data)) {

        <div class="panel panel-default">

            <div class="panel-body form-inline">
                <label for="users-since">Displaying value distribution in last </label>
                <select class="form-control" id="timescale">
                @for((name, odays) <- List(
                    ("1 day", 1),
                    ("2 days", 2),
                    ("1 week", 7),
                    ("2 weeks", 14),
                    ("month", 30),
                    ("3 months", 90),
                    ("6 months", 180),
                    ("year", 365),
                    ("2 years", 730)
                )) {
                    <option value="@odays"
                        @if(days == odays) {
                            selected="selected"
                            }
                    >@name</option>
                }
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <h3>Unique value adoption</h3>
                <canvas id="chart_uniqueAdoption" width="400" height="300"></canvas>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <h3>Absolute value distribution</h3>
                <canvas id="chart_absDistribution" width="400" height="300"></canvas>
            </div>
        </div>
        <div class="row">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <td>Value</td>
                            <td>Userdays (for past @days days)</td>
                            <td>Relative change (in @days days)</td>
                            <td>Percentage of total (during @days days)</td>
                        </tr>
                    </thead>
                    <tbody>
                    @defining(data.map(_._2.map(_._2).sum).sum) { totalSum =>
                        @for((value, dayCounts, sum) <- data.map { case (value, dayCounts) => (value, dayCounts, dayCounts.map(_._2).sum) }.sortBy(-_._3)) {
                            <tr>
                                <td>
                                    <a href="@{controllers.admin.prod.routes.ProductPingExtras.view(prod.id, pingExtraKey, value = Some(value.getOrElse("")))}">@value.getOrElse(html"<i>Empty</i>")</a>
                                </td>
                                <td>
                                    @sum
                                </td>
                                <td>
                                    @if(dayCounts.size < (days * 0.9)) {
                                        N/a
                                    } else {
                                        @defining((((dayCounts.last._2 - dayCounts.head._2) / dayCounts.head._2.toDouble) * 100.0).toInt) { perc =>
                                          <span style="color:
                                          @if(perc < 0) {
                                            red
                                          } else {
                                            green
                                          }
                                          ">@perc%</span>
                                        }
                                    }
                                </td>
                                <td>
                                    @{(sum.toDouble / totalSum * 100.0).toInt}%
                                </td>
                            </tr>
                        }
                    }
                    </tbody>
                </table>
            </div>
        </div>
    }
}