@import model.Product
@import dao.ProductsDAO
@import dao.ProdLicensePingDAO
@import util.FutureUtils._
@import shapeless._
@import scala.concurrent.Future
@import scala.concurrent.ExecutionContext.Implicits.global
@(products: Seq[Product], userForm: Form[(String, String)])(implicit messages: Messages, productsDAO: ProductsDAO, plpDAO: ProdLicensePingDAO)

@layout_admin_simple(Seq("Products")) {
    <h2>Create product</h2>

    @helper.form(action = controllers.admin.prod.routes.Products.create()) {
        @helper.inputText(userForm("name"))
        @helper.inputText(userForm("shortName"))

        <input type="submit" value="Submit" />
    }

    <h2>Products</h2>

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>License count</td>
                    <td>Ping count</td>
                    <td>Latest ping</td>
                </tr>
            </thead>
            <tbody>
            @for(prod :: licenseCount :: pingCount :: recentPings :: HNil <- products map (p => hsequence(Future.successful(p) :: p.queryLicenseCount() ::  p.queryPingCount() :: p.queryRecentPings(1) :: HNil)) awaitAll) {
                <tr>
                    <td><a href="@controllers.admin.prod.routes.Products.view(prod.id)">@prod.name</a></td>
                    <td>@licenseCount</td>
                    <td>@pingCount</td>
                    <td>
                    @recentPings.headOption match {
                        case Some(ping) => {
                            @snippet.datetime(ping.date)
                        }
                        case None => {}
                    }
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}