@import model.Product
@import model.Ping
@import cyan.backend.Backend
@import dao.PingExtrasDAO
@import dao.PingsDAO
@import dao.PingResponsesDAO
@import scala.concurrent.ExecutionContext
@import util.FutureUtils._
@import play.filters.csrf.CSRF
@import dao.ResponsesDAO
@import dao.ProductsDAO
@import dao.ProductConfigDAO
@import model.ProductConfig
@import scala.concurrent.Future
@import scala.concurrent.ExecutionContext.Implicits.global
@import controllers.admin.prod.Products
@(prod: Product, devLicense: Option[String])(implicit backend: Backend, reqHeader: RequestHeader, ec: ExecutionContext, productsDAO: ProductsDAO, responsesDAO: ResponsesDAO, pingResponsesDAO: PingResponsesDAO, pingsDAO: PingsDAO, pingExtrasDAO: PingExtrasDAO, productConfigDAO: ProductConfigDAO)

@navSeq = @{Seq(("Products", controllers.admin.prod.routes.Products.list()), prod)}

@layout_admin(_root_.views.snippet.nav.NavObjects.mkString(navSeq)) {
    @prod_sidebar(prod)

    <div class="col-sm-10 main">
        @snippet.breadcrumb(navSeq)

        <div class="panel panel-default">
            <div class="panel-body">
                <b>Short name:</b> <code>@prod.shortName</code>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a role="button" data-toggle="collapse" href="#collapseConfiguration">
                        <span class="glyphicon glyphicon-cog"></span>
                        Configuration
                    </a>
                </h3>
            </div>
            <div id="collapseConfiguration" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <label class="control-label">Default response for unregistered licenses:</label>
                        </div>
                        <div class="col-sm-8">
                            <form action="@controllers.admin.prod.routes.Products.configure(prod.id, "unreg_response")" method="post">
                                @for(t <- CSRF.getToken) {
                                    <input type="hidden" name="@t.name" value="@t.value"/>
                                }
                                <div class="input-group">
                                    @snippet.responseselect(
                                        pingResponsesDAO
                                                .getExactResponse(Some(prod.id), None, None)
                                                .await
                                                .map(_.id)
                                                .getOrElse(-1))
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn btn-primary">Set</button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-4">
                            <label class="control-label">Developer license (if set, hidden in some stats/lists):</label>
                        </div>
                        <div class="col-sm-8">
                            <form action="@controllers.admin.prod.routes.Products.configure(prod.id, ProductConfig.Keys.DevLicense)" method="post">
                                @for(t <- CSRF.getToken) {
                                    <input type="hidden" name="@t.name" value="@t.value"/>
                                }
                                <div class="input-group">
                                    <input class="form-control" name="value" value="@devLicense.getOrElse("")" type="text" />
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn btn-primary">Set</button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                    <br>
                    @for(cfg <- backend.getCustomProjectConfigs) {
                        <div class="row">
                            <div class="col-sm-4">
                                <label class="control-label">@cfg.desc</label>
                            </div>
                            <div class="col-sm-8">
                                <form action="@controllers.admin.prod.routes.Products.configure(prod.id, cfg.id)" method="post">
                                    @for(t <- CSRF.getToken) {
                                        <input type="hidden" name="@t.name" value="@t.value"/>
                                    }
                                    <div class="input-group">
                                        <input class="form-control" name="value" value="@productConfigDAO.getValue(prod.id, cfg.id).await" type="text" />
                                        <span class="input-group-btn">
                                            <button type="submit" class="btn btn-primary">Set</button>
                                        </span>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <br>
                    }
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a role="button" data-toggle="collapse" href="#collapseFakePing">
                        <span class="glyphicon glyphicon-plus"></span>
                        Add Ping
                    </a>
                </h3>
            </div>
            <div id="collapseFakePing" class="panel-collapse collapse">
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="fakepinglicense" class="col-sm-2 control-label">License</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="fakePingLicense" placeholder="License">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="fakePingUser" class="col-sm-2 control-label">User</label>
                            <div class="col-sm-10">
                                <input type="text" id="fakePingUser" class="form-control" placeholder="User">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Extras</label>
                            <div class="col-sm-10">
                                <div class="col-sm-12" id="fakePingExtraList">

                                </div>
                                <button type="button" id="fakePingNewExtra" class="btn btn-default">Add</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="button" id="fakePingSubmit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="panel panel-default" style="display: none" id="fakePingResponsePanel">
                                <div class="panel-heading" id="fakePingResponseHeader"></div>
                                <div class="panel-body" id="fakePingResponseBody"></div>
                            </div>
                        </div>
                    </form>

                    <script type="application/javascript">
                        $('#fakePingNewExtra').click(function() {
                            $('#fakePingExtraList').append("<div class='form-group'><div class='col-sm-6'><input class='form-control'></div><div class='col-sm-6'><input class='form-control'></div></div>");
                        });

                        $('#fakePingSubmit').click(function(e) {
                            var extras = {};
                            $("#fakePingExtraList").find("> div").each(function() {
                                var inputs = $(this).find("input");
                                extras["x_" + inputs.get(0).value] = inputs.get(1).value;
                            });

                            $.post(
                                    "@routes.PingReceiver.ping()",
                                    $.extend({
                                        prod: '@prod.shortName',
                                        license: $('#fakePingLicense').val(),
                                        user: $('#fakePingUser').val()
                                    }, extras)
                            ).done(function(data, statusText, xhr){
                                $('#fakePingResponsePanel').show().addClass('panel-success');
                                $('#fakePingResponseHeader').text('Response ' + xhr.status);
                                $('#fakePingResponseBody').text(data);
                            });;
                        });
                    </script>
                </div>
            </div>
        </div>

        <h3>Recent pings</h3>

        @snippet.paged_ping_table(page => pingsDAO.findRecentForProduct(prod, Products.PingsPerPage, offset = Products.PingsPerPage * page, ignoredLicense = devLicense).await, controllers.admin.prod.routes.Products.view(prod.id))
    </div>
}
