@import java.awt.Color

@import dao.{PingExtrasDAO, ProductConfigDAO, ProductsDAO}
@import model.Product
@import org.joda.time.{LocalDate, LocalTime}
@import util.FutureUtils._
@import cyan.util.TwirlHelpers._

@import scala.concurrent.ExecutionContext
@import cyan.backend.Backend
@import dao.PingsDAO
@import dao.ResponsesDAO

@this(layout_admin_simple: views.html.admin.layout_admin_simple)(implicit ec: ExecutionContext, backend: Backend, pingsDAO: PingsDAO, pingExtrasDAO: PingExtrasDAO, productConfigDAO: ProductConfigDAO, productsDAO: ProductsDAO, responsesDAO: ResponsesDAO)
@(prod: Product, pingExtraKey: String, pingExtraValue: String)(implicit reqHeader: RequestHeader)

@layout_admin_simple(Seq(("Products", controllers.admin.prod.routes.Products.list()), prod, ("Ping extras", controllers.admin.prod.routes.ProductPingExtras.list(prod.id)), (html"Key <code>${pingExtraKey}</code>", controllers.admin.prod.routes.ProductPingExtras.view(prod.id, pingExtraKey, value = None)), html"<code>${pingExtraValue}</code>")) {
    <h3>Recent pings</h3>

    @snippet.paged_ping_table(page => pingsDAO.findRecentWithExtraValue(pingExtraKey, pingExtraValue, 15, product = Some(prod), offset = 15 * page).await, controllers.admin.prod.routes.ProductPingExtras.view(prod.id, pingExtraKey, value = Some(pingExtraValue)), showResponse = true)

    <h3>Associated licenses</h3>
    <i>Includes only licenses whose latest ping had this pingextra key and value </i>

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <td>License</td>
                </tr>
            </thead>
            <tbody>
            @for(prodLicense <- pingExtrasDAO.findProductLicensesByLatestExtraKeyValue(prod, pingExtraKey, pingExtraValue).await) {
                <tr>
                    <td>
                    @backend.transformLicenseHtml(model.backendLicense(prodLicense.prod, prodLicense.license)) {
                        <a href="@controllers.admin.prod.routes.ProductLicenses.licenseView(prodLicense.prod.id, prodLicense.license)">@prodLicense.license</a>
                    }
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}