@import dao._
@import util.FutureUtils._
@import shapeless._
@import scala.concurrent.Future
@import scala.concurrent.ExecutionContext

@this()(implicit ex: ExecutionContext, pingsDAO: PingsDAO, productsDAO: ProductsDAO, responsesDAO: ResponsesDAO, pingResponsesDAO: PingResponsesDAO)
@(prod: model.Product)

@layout_admin(_root_.views.snippet.nav.NavObjects.mkString(Seq(prod, "Responses"))) {
    @prod_sidebar(prod)

    <div class="col-sm-10 main">
        @snippet.breadcrumb(Seq(("Products", controllers.admin.prod.routes.Products.list()), prod, "Responses"))

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <td>License</td>
                        <td>User</td>
                        <td>Response</td>
                    </tr>
                </thead>
                <tbody>
                    @for(pr :: response :: HNil <- pingResponsesDAO.findForProduct(prod.id).await.map(pr => hsequence(Future.successful(pr) :: pr.queryResponse() :: HNil)) awaitAll) {
                        <tr>
                            <td>
                                @pr.license match {
                                    case Some(license) => {
                                        <a href="@controllers.admin.prod.routes.ProductLicenses.licenseView(prod.id, license)">@license</a>
                                    }
                                    case _ => {
                                        <i>Empty (matches all)</i>
                                    }
                                }
                            </td>
                            <td>
                                @pr.userName match {
                                    case Some(user) => {
                                        <a href="@controllers.admin.routes.Users.viewUser(user)">@user</a>
                                    }
                                    case _ => {
                                        <i>Empty (matches all)</i>
                                    }
                                }
                            </td>
                            <td>@snippet.response(response)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Add new</h3>
            </div>
            <div class="panel-body">

                <form action="@controllers.admin.prod.routes.ProductResponses.insert(prod.id)" method="post">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <td>License</td>
                                    <td>User</td>
                                    <td>Response</td>
                                    <td></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <input name="license" type="text" class="form-control">
                                    </td>
                                    <td>
                                        <input name="user" type="text" class="form-control">
                                    </td>
                                    <td>
                                    @snippet.responseselect()
                                    </td>
                                    <td>
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </form>

            </div>
        </div>
    </div>
}