@import scala.concurrent.ExecutionContext
@import dao.ProductsDAO
@import dao.PingExtrasDAO
@import model.Product
@import util.FutureUtils._
@import org.joda.time.{LocalDate, LocalTime}
@import java.awt.Color
@import dao.ProductConfigDAO
@(prod: Product, pingExtraKey: String)(implicit ec: ExecutionContext, productsDAO: ProductsDAO, pingExtrasDAO: PingExtrasDAO, productConfigDAO: ProductConfigDAO)

@scripts = {

    <script type="application/javascript">
        var valueDistWeekCtx = document.getElementById("chart_valueDistWeek").getContext("2d");
        var valueDistWeekChart = new Chart(valueDistWeekCtx, {
            type: "line",
            data: {
                labels: [
                    @for(i <- 6 to 1 by -1) {
                        "@LocalDate.now().minusDays(i)",
                    }
                    "@LocalDate.now() *"
                ],
                datasets: [
                    @for(((value, daycounts), index) <- pingExtrasDAO.findProductExtraDistinctValueCountsPerDay(prod.shortName, pingExtraKey, LocalDate.now().minusDays(7), prod.queryDevLicense().await).await.zipWithIndex) {
                        {
                            label: "@value match {
                                case Some(x) => {@x}
                                case None => {no value}
                            }",
                            backgroundColor: @defining(Color.getHSBColor(index * 0.618033988749895f, 0.8f, 0.85f)) { clr =>
                                'rgba(@clr.getRed, @clr.getGreen, @clr.getBlue, 0.4)'
                            },
                            data: [
                                @for(i <- 6 to 1 by -1) {
                                    @daycounts.find(_._1 == LocalDate.now().minusDays(i)).map(_._2).getOrElse(0) ,
                                }
                                @* today's value needs to be extrapolated, calculate multiplier in defining *@
                                @defining(1.0 / (LocalTime.now().getMillisOfDay.toDouble / (1000 * 60 * 60 * 24))) { frac =>
                                    @daycounts.find(_._1 == LocalDate.now()).map(v => (v._2 * frac).floor).getOrElse(0)
                                }
                            ]
                        },
                    }
                ]
            }
        });
    </script>
}

@layout_admin_simple(Seq(("Products", controllers.admin.prod.routes.Products.list()), prod, "Ping extras", pingExtraKey), scripts) {
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <h3>Value distribution in past 24 hours (per user)</h3>
            <table class="table">
                <thead>
                    <tr>
                        <td>Value</td>
                        <td>Count</td>
                    </tr>
                </thead>
                <tbody>
                @for((value, daycounts) <- pingExtrasDAO.findProductExtraDistinctValueCountsPerDay(prod.shortName, pingExtraKey, LocalDate.now().minusDays(1), prod.queryDevLicense().await).await) {
                    <tr>
                        <td>
                        @value match {
                            case Some(x) => { @x }
                            case None => { <i>no value</i> }
                        }
                        </td>
                        <td>@daycounts.map(_._2).sum</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
        <div class="col-xs-12 col-md-6">
            <h3>Value distribution in past 7 days (per user)</h3>
            <canvas id="chart_valueDistWeek" width="400" height="300"></canvas>
        </div>
    </div>
}