@import java.awt.Color

@import dao.{PingExtrasDAO, ProductConfigDAO, ProductsDAO}
@import model.Product
@import org.joda.time.{LocalDate, LocalTime}
@import util.FutureUtils._
@import cyan.util.TwirlHelpers._

@import scala.concurrent.ExecutionContext
@(prod: Product, pingExtraKey: String, days: Int)(implicit ec: ExecutionContext, productsDAO: ProductsDAO, pingExtrasDAO: PingExtrasDAO, productConfigDAO: ProductConfigDAO)

@* Calculate how many steps between each datapoint *@
@countDataStep(totalDays: Int) = @{1 + (totalDays / 100)}

@scripts(data: Seq[(Option[String], Seq[(LocalDate, Int)])]) = {

    <script type="application/javascript">
        var valueDistWeekCtx = document.getElementById("chart_valueDistWeek").getContext("2d");
        var valueDistWeekChart = new Chart(valueDistWeekCtx, {
            type: "line",
            data: {
                labels: [
                    @for(i <- days to 0 by -countDataStep(days)) {
                        "@LocalDate.now().minusDays(i)",
                    }
                ],
                datasets: [
                    @for(((value, daycounts), index) <- data.zipWithIndex) {
                        {
                            label: "@value match {
                                case Some(x) => {@x}
                                case None => {no value}
                            }",
                            backgroundColor: @defining(Color.getHSBColor(index * 0.618033988749895f, 0.8f, 0.85f)) { clr =>
                                'rgba(@clr.getRed, @clr.getGreen, @clr.getBlue, 0.4)'
                            },
                            data: [
                                @for(i <- days to 0 by -countDataStep(days)) {
                                    @daycounts.find(_._1 == LocalDate.now().minusDays(i)).map(_._2).getOrElse(0) ,
                                }
                            ]
                        },
                    }
                ]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            min: 0
                        }
                    }]
                }
            }
        });
    </script>
    <script type="text/javascript">
            var usersSince = document.getElementById("timescale");
            usersSince.onchange = function() {
                window.location = jsAdminRoutes.controllers.admin.prod.ProductPingExtras.view(@prod.id, "@pingExtraKey", parseInt(this.value), null).url;
            }
    </script>
    <script type="text/javascript" src="@controllers.admin.routes.Main.javascriptRoutes"></script>
}

@defining(
        pingExtrasDAO.findProductExtraDistinctValueCountsPerDay(prod.shortName, pingExtraKey, LocalDate.now().minusDays(days), prod.queryDevLicense().await).await
) { data =>
    @layout_admin_simple(Seq(("Products", controllers.admin.prod.routes.Products.list()), prod, ("Ping extras", controllers.admin.prod.routes.ProductPingExtras.list(prod.id)), html"Key <code>${pingExtraKey}</code>"), scripts(data)) {

        <div class="panel panel-default">

            <div class="panel-body form-inline">
                <label for="users-since">Displaying value distribution in last </label>
                <select class="form-control" id="timescale">
                @for((name, odays) <- List(
                    ("1 day", 1),
                    ("2 days", 2),
                    ("1 week", 7),
                    ("2 weeks", 14),
                    ("month", 30),
                    ("3 months", 90),
                    ("6 months", 180),
                    ("year", 365),
                    ("2 years", 730)
                )) {
                    <option value="@odays"
                        @if(days == odays) {
                            selected="selected"
                            }
                    >@name</option>
                }
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <h3>Value distribution</h3>
                <canvas id="chart_valueDistWeek" width="400" height="300"></canvas>
            </div>
        </div>
        <div class="row">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <td>Value</td>
                            <td>Userdays (for past @days days)</td>
                            <td>Relative change (in @days days)</td>
                            <td>Percentage of total (during @days days)</td>
                        </tr>
                    </thead>
                    <tbody>
                    @defining(data.map(_._2.map(_._2).sum).sum) { totalSum =>
                        @for((value, dayCounts, sum) <- data.map { case (value, dayCounts) => (value, dayCounts, dayCounts.map(_._2).sum) }.sortBy(-_._3)) {
                            <tr>
                                <td>
                                    <a href="@{controllers.admin.prod.routes.ProductPingExtras.view(prod.id, pingExtraKey, value = Some(value.getOrElse("")))}">@value.getOrElse(html"<i>Empty</i>")</a>
                                </td>
                                <td>
                                    @sum
                                </td>
                                <td>
                                    @if(dayCounts.size < (days * 0.9)) {
                                        N/a
                                    } else {
                                        @defining((((dayCounts.last._2 - dayCounts.head._2) / dayCounts.head._2.toDouble) * 100.0).toInt) { perc =>
                                          <span style="color:
                                          @if(perc < 0) {
                                            red
                                          } else {
                                            green
                                          }
                                          ">@perc%</span>
                                        }
                                    }
                                </td>
                                <td>
                                    @{(sum.toDouble / totalSum * 100.0).toInt}%
                                </td>
                            </tr>
                        }
                    }
                    </tbody>
                </table>
            </div>
        </div>
    }
}