@import model.Product
@import model.Ping
@import cyan.backend.Backend
@import dao.PingExtrasDAO
@import dao.PingsDAO
@import dao.PingResponsesDAO
@import scala.concurrent.ExecutionContext
@import util.FutureUtils._
@import dao.ResponsesDAO
@import dao.ProductsDAO
@import dao.ProductConfigDAO
@import model.ProductConfig
@import scala.concurrent.Future
@import scala.concurrent.ExecutionContext.Implicits.global
@(prod: Product, devlicense: Option[String], recentNewLicenses: Seq[Ping], recentPings: Seq[Ping])(implicit backend: Backend, ec: ExecutionContext, productsDAO: ProductsDAO, responsesDAO: ResponsesDAO, pingResponsesDAO: PingResponsesDAO, pingsDAO: PingsDAO, pingExtrasDAO: PingExtrasDAO, productConfigDAO: ProductConfigDAO)

@scripts = {
    <script type="text/javascript">
        function fetchContents(link, divId) {
            $.ajax({
                url: link,
                success: function(response) {
                    $('#' + divId).text(response);
                }
            });
            return '<div id="'+ divId +'">Loading...</div>';
        }
        
        $('a[data-pingextra-key]').popover({
            html: true,
            trigger: 'hover',
            placement: 'bottom',
            content: function() {
                var divId =  "tmp-id-" + $.now();
                return fetchContents($(this).data('valueurl'), divId);
            }
        });
    </script>
}

@layout_admin(prod.name, scripts) {
    <div class="col-sm-2 sidebar">
        <h4>Product</h4>
        <ul class="nav nav-sidebar">
            <li><a href="@controllers.admin.prod.routes.Products.view(prod.id)">Overview</a></li>
        </ul>

        <h4>Recent extras</h4>

        <ul class="nav nav-sidebar">
            @for(key <- recentPings.map(_.queryExtras()).awaitAll().flatten.map(_.key).distinct) {
                <li><a href="@controllers.admin.prod.routes.ProductPingExtras.view(prod.id, key)">@key</a></li>
            }
        </ul>
    </div>

    <div class="col-sm-10 main">
        <h1>Viewing product: @prod.name</h1>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Configuration</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-4">
                        <label class="control-label">Default response for unregistered licenses:</label>
                    </div>
                    <div class="col-sm-8">
                        <form action="@controllers.admin.prod.routes.Products.configure(prod.id, "unreg_response")" method="post">
                            <div class="input-group">
                                @snippet.responseselect(
                                    pingResponsesDAO
                                            .getExactResponse(Some(prod.id), None, None)
                                            .await
                                            .map(_.id)
                                            .getOrElse(-1))
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-primary">Set</button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-4">
                        <label class="control-label">Developer license (if set, hidden in some stats/lists):</label>
                    </div>
                    <div class="col-sm-8">
                        <form action="@controllers.admin.prod.routes.Products.configure(prod.id, ProductConfig.Keys.DevLicense)" method="post">
                            <div class="input-group">
                                <input class="form-control" name="devlicense" value="@devlicense.getOrElse("")" type="text" />
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-primary">Set</button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <h3>Recent new licenses</h3>

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <td>License</td>
                        <td>First timestamp</td>
                    </tr>
                </thead>
                <tbody>
                @for(ping <- recentNewLicenses) {
                    <tr>
                        <td><a href="@controllers.admin.prod.routes.ProductLicenses.licenseView(prod.id, ping.license)">@ping.license</a>  @backend.createLicensePopupHTML(ping.license)</td>
                        <td>@snippet.datetime(ping.date)</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>

        <h3>Recent pings</h3>

        @snippet.ping_table(recentPings)
    </div>
}
