@import model.Product
@import dao.ProductsDAO
@import dao.ProdLicensePingDAO
@import util.FutureUtils._
@import shapeless._
@import scala.concurrent.Future
@import scala.concurrent.ExecutionContext.Implicits.global
@import dao.PingsDAO

@this(layout_admin_simple: views.html.admin.layout_admin_simple)(implicit productsDAO: ProductsDAO, pingsDAO: PingsDAO, plpDAO: ProdLicensePingDAO)
@(products: Seq[Product], userForm: Form[(String, String)])(implicit requestHeader: RequestHeader, messages: Messages)

@layout_admin_simple(Seq("Products")) {
    <h2>Create product</h2>

    @helper.form(action = helper.CSRF(controllers.admin.prod.routes.Products.create())) {
        @helper.inputText(userForm("name"))
        @helper.inputText(userForm("shortName"))

        <input type="submit" value="Submit" />
    }

    <h2>Products</h2>

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <td>Name</td>
                    <td><i>License count</i> *</td>
                    <td><i>Ping count</i> *</td>
                    <td>Latest ping</td>
                </tr>
            </thead>
            <tbody>
                @defining(
                    (
                        for(prod :: licenseCount :: pingCount :: recentPings :: HNil <- products map (p => hsequence(
                            Future.successful(p)::
                            p.queryEstimatedLicenseCount() ::
                            p.queryEstimatedPingCount() ::
                            p.queryRecentPings(1) :: HNil
                        )) awaitAll)
                            yield (prod, licenseCount, pingCount, recentPings)
                    ).toSeq
                ) { pings =>
                    @for((prod, licenseCount, pingCount, recentPings) <- pings) {
                        <tr>
                            <td><a href="@controllers.admin.prod.routes.Products.view(prod.id)">@prod.name</a></td>
                            <td><i>@licenseCount</i></td>
                            <td><i>@pingCount</i></td>
                            <td>
                            @recentPings.headOption match {
                                case Some(ping) => {
                                    @snippet.datetime(ping.date)
                                }
                                case None => {}
                            }
                            </td>
                        </tr>
                    }
                    <tr>
                        <td><b>Total</b></td>
                        <td><i>Cannot sum unique metrics</i></td>
                        <td><i>@pings.map(_._3).sum</i></td>
                        <td></td>
                    </tr>
                }
            </tbody>
        </table>
        <i>* estimated counts are only provided to estimate magnitude, not absolute value. Use accordingly.</i>
    </div>
}