@import model.Response
@import dao.ProductsDAO
@import dao.PingsDAO
@import cyan.backend.Backend
@import util.FutureUtils._
@import dao.PingExtrasDAO
@import play.filters.csrf.CSRF
@this(layout_admin_simple: views.html.admin.layout_admin_simple, webJarAssets: WebJarAssets)(implicit backend: Backend, productsDAO: ProductsDAO, pingsDAO: PingsDAO, pingExtrasDAO: PingExtrasDAO)
@(resp: Response)(implicit requestHeader: RequestHeader)

@layout_admin_simple(Seq(("Responses", controllers.admin.routes.Responses.list()), resp)) {

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-3">
                        <label class="control-label">Response name
                            <button type="button" class="btn btn-primary btn-xs" id="responseNameEdit">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                            :</label>
                    </div>
                    <div class="col-sm-9">
                        <code id="responseName">@resp.name</code>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <label class="control-label">Color:</label>
                    </div>
                    <div class="col-sm-9">
                        <select id="responseColor">
                            @for(c <- model.NotificationColor.values) {
                                <option value="@c.toString"
                                @if(c == resp.color) {
                                    selected="selected"
                                }
                                >@c.toString</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                Response body
                <button type="button" class="btn btn-primary btn-xs" id="responseBodyEdit">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
            </h3>
        </div>
        <div class="panel-body">
            <pre id="responseBody">@resp.body</pre>
        </div>
    </div>
    <h3>Recent pings with this response:</h3>

    @snippet.paged_ping_table(page => pingsDAO.findRecentWithResponse(Some(resp.id), 15, offset = 15 * page).await, controllers.admin.routes.Responses.view(resp.id), showProduct = true, showResponse = false)

    <script type="text/javascript" src="@routes.Assets.at("javascripts/inline-edit.js")"></script>
    <script type="application/ecmascript">
        $("#responseNameEdit").inlineEditable({
            type: "text",
            target: $("#responseName"),
            url: "@controllers.admin.routes.Responses.editName(resp.id)",
            postDataKey: "name",
            extraData: {
                @for(t <- CSRF.getToken) {
                    "@t.name": "@t.value"
                }
            }
        });
        $("#responseBodyEdit").inlineEditable({
            type: "textarea",
            target: $("#responseBody"),
            url: "@controllers.admin.routes.Responses.editBody(resp.id)",
            postDataKey: "body",
            extraData: {
                @for(t <- CSRF.getToken) {
                "@t.name": "@t.value"
                }
            }
        });
        $("#responseColor").change(function() {
            $.post("@controllers.admin.routes.Responses.editColor(resp.id)", {
                "color": $(this).val(),
                @for(t <- CSRF.getToken) {
                "@t.name": "@t.value"
                }
            }, function(data) {
                window.location.reload();
            });
        })
    </script>
}