@import dao.ProductsDAO
@import dao.PingsDAO
@import dao.PingExtrasDAO
@import dao.ResponsesDAO
@import util.FutureUtils._
@import util.TwirlUtils._
@import cyan.backend.Backend
@import dao.ProductConfigDAO
@(user: String)(implicit backend: Backend, productsDAO: ProductsDAO, productConfigDAO: ProductConfigDAO, pingExtrasDAO: PingExtrasDAO, pingsDAO: PingsDAO, responsesDAO: ResponsesDAO)

@layout_admin_simple(Seq("Users", html"<code>$user</code>")) {
    <h3>Recent pings from user <code>@user</code></h3>

    @snippet.ping_table(pingsDAO.findRecentByUser(user, 15).await, showProduct = true)
}