@(rnav: Seq[Any])

@bcpart(content: Html, active: Boolean = false) = {
    @if(active) { <li class="active"> } else { <li> }
    @content
    </li>
}

@pageobj(obj: Any, active: Boolean = false) = @{
    obj match {
        case prod: model.Product => (Html(prod.name), Some(controllers.admin.prod.routes.Products.view(prod.id)))
        case resp: model.Response => (Html(resp.name), Some(controllers.admin.routes.Responses.view(resp.id)))
        case (name: String, path: Call) => (Html(name), Some(path))
        case 'root => (Html("Cyan"), Some(controllers.admin.routes.Main.index()))
        case h: Html => (h, None)
        case x => (Html(x.toString), None)
    }
}
@tolink(p: (Html, Option[Call])) = {
    @p match {
        case (name, Some(link)) => { <a href="@link">@name</a> }
        case (name, None) => { @name }
    }
}

<ol class="breadcrumb">
    @defining(Seq('root) ++ rnav) { nav =>
        @for(el <- nav.dropRight(1)) {
            @bcpart(tolink(pageobj(el)))
        }
        @nav.lastOption match {
            case Some(x) => {
                @bcpart(pageobj(x)._1, active = true)
            }
            case _ => {}
        }
    }
</ol>