@(rnav: Seq[Any])

@bcpart(content: Html, active: Boolean = false) = {
    @if(active) { <li class="active"> } else { <li> }
    @content
    </li>
}

@tolink(p: (Html, Option[Call])) = {
    @p match {
        case (name, Some(link)) => { <a href="@link">@name</a> }
        case (name, None) => { @name }
    }
}

<ol class="breadcrumb">
    @import views.snippet.nav.NavObjects.parse
    @defining(Seq('root) ++ rnav) { nav =>
        @for(el <- nav.dropRight(1)) {
            @bcpart(tolink(parse(el)))
        }
        @nav.lastOption match {
            case Some(x) => {
                @bcpart(parse(x)._1, active = true)
            }
            case _ => {}
        }
    }
</ol>