@import java.sql.Timestamp
@import org.joda.time.DateTime
@import org.joda.time.Period
@import org.joda.time.Instant
@import java.time.ZoneOffset
@import org.joda.time.PeriodType
@import org.joda.time.format.DateTimeFormat
@import java.util.Locale
@(timestamp: Timestamp)

@* This disgusting piece of code (using both Javatime and Joda time) converts timestamp to UTC based DateTime *@
@defining(new DateTime(timestamp.toLocalDateTime.atOffset(ZoneOffset.UTC).toInstant.toEpochMilli)) { datetime =>
    <time class="timeago" datetime="@datetime">@datetime.toString(DateTimeFormat.forStyle("SM").withLocale(Locale.getDefault))</time>
}
