@import model.PingExtra
@import java.awt.Color
@import model.Product
@(pingExtra: PingExtra)(implicit product: Product = null)

@colorFromHash(hash: Int) = @{
    val rand = new scala.util.Random(hash)
    "#%02X%02X%02X".format(
        (rand.nextInt(256) + 255) / 2,
        (rand.nextInt(256) + 255) / 2,
        (rand.nextInt(256) + 255) / 2
    )
}

<a
@if(product != null) { href="@controllers.admin.prod.routes.ProductPingExtras.view(product.id, pingExtra.key, Option(pingExtra.value))" }
class="btn btn-info btn-xs pingextra" title="@pingExtra.key" style="background-color: @colorFromHash(pingExtra.key.hashCode); color: black" data-toggle="tooltip" data-placement="top">
@pingExtra.value
</a>