@import dao._

@import scala.concurrent.Future
@import util.FutureUtils._
@import shapeless._
@import scala.concurrent.ExecutionContext.Implicits.global

@import model.Ping
@import cyan.backend.Backend
@(pings: Seq[Ping], showProduct: Boolean = false, showLicense: Boolean = true, showExtras: Boolean = true, showResponse: Boolean = true)(implicit productsDAO: ProductsDAO, responsesDAO: ResponsesDAO = null, pingExtrasDAO: PingExtrasDAO = null, productConfigDAO: ProductConfigDAO = null, backend: Backend = null)

@{
    if (showExtras) assert(pingExtrasDAO != null, "pingExtrasDAO must not be null if showExtras is enabled")
    if (showResponse) assert(responsesDAO != null, "responsesDAO must not be null if showResponse is enabled")
}

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                @if(showProduct) { <td>Product</td> }
                @if(showLicense) { <td>License</td> }
                <td>User</td>
                <td>IP</td>
                <td>Timestamp</td>
                @if(showExtras && pingExtrasDAO != null) { <td>Extra keys</td> }
                @if(showResponse && responsesDAO != null) { <td>Response</td> }
            </tr>
        </thead>
        <tbody>
            @for(ping :: product :: extras :: response :: HNil <- pings.map(p => hsequence(Future.successful(p) :: p.queryProduct() :: (if (showExtras) p.queryExtras() else Future.successful(Seq())) :: (if (showResponse) p.queryResponse() else Future.successful(None)) :: HNil)) awaitAll) {
                <tr>
                    @if(showProduct) {
                        <td><a href="@controllers.admin.prod.routes.Products.view(product.id)">@product.name</a></td>
                    }
                    @if(showLicense) {
                        <td>
                            @Option(backend).map(be => be.transformLicenseHtml(model.backendLicense(product, ping.license))(_: Html)).getOrElse((x: Html) => x) {
                                <a href="@controllers.admin.prod.routes.ProductLicenses.licenseView(product.id, ping.license)">@ping.license</a>
                            }
                        </td>
                    }
                    <td>@ping.user</td>
                    <td><a href="@controllers.admin.routes.IPs.viewIp(ping.ip)">@ping.ip</a></td>
                    <td>@snippet.datetime(ping.date)</td>
                    @if(showExtras && pingExtrasDAO != null) {
                        <td>
                        @for(pe <- extras) {
                            <a class="btn btn-info btn-xs" role="button" data-toggle="popover" data-trigger="focus" data-ping-id="@ping.id" data-pingextra-key="@pe.key">
                            @pe.key
                            </a>
                        }
                        </td>
                    }
                    @if(showResponse && responsesDAO != null) {
                        <td>
                        @snippet.response(response)
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>

<script type="text/javascript" src="@controllers.admin.routes.Main.javascriptRoutes"></script>
<script type="text/javascript">
    function fetchContents(link, divId) {
        $.ajax({
            url: link,
            success: function(response) {
                $('#' + divId).text(response);
            }
        });
        return '<div id="'+ divId +'">Loading...</div>';
    }

    $(document).ready(function() {
        function extraContent() {
            var divId =  "tmp-id-" + $.now();
            var valueRoute = jsAdminRoutes.controllers.admin.Pings.showPingExtra($(this).data("ping-id"), $(this).data("pingextra-key"));
            return fetchContents(valueRoute.url, divId);
        }
        function backendContent() {
            var divId =  "tmp-id-" + $.now();
            var query = $(this).data("backend-query");
            var productId = $(this).data("backend-productid");
            var license = $(this).data("backend-license");
            var queryRoute = jsAdminRoutes.controllers.admin.BackendController.view(query, productId, license);
            return fetchContents(queryRoute.url, divId);
        }

        $('a[data-pingextra-key]').popover({
            html: true,
            trigger: 'hover',
            placement: 'bottom',
            content: extraContent
        });
        $('a[data-backend-query]').popover({
            html: true,
            trigger: 'hover',
            placement: 'bottom',
            content: backendContent
        });
    });
</script>