@import model.Product
@import model.Response
@import controllers.admin.Anomalies
@import dao.ProductsDAO
@import util.FutureUtils._
@(subTitle: String, scripts: Html = Html(""))(content: Html)(implicit productsDAO: ProductsDAO)

@main("Admin: " + subTitle) {

    <div class="navmenu navmenu-default navmenu-fixed-left offcanvas-sm" role="navigation">
        <a class="navmenu-brand" href="#">Cyan</a>

        <ul class="nav navmenu-nav">
            <li class="active"><a href="#">Overview</a></li>
            <li><a href="#">Link</a></li>
        </ul>
        <ul class="nav navmenu-nav">
            <li><a href="@admin.routes.Products.list()">Product overview</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Products <b class="caret"></b></a>
                <ul class="dropdown-menu navmenu-nav" role="menu">
                @for(prod <- productsDAO.getAll().await) {
                    <li><a href="@admin.routes.Products.view(prod.id)">@prod.name</a></li>
                }
                </ul>
            </li>
        </ul>
        <ul class="nav navmenu-nav">
            <li><a href="@admin.routes.Responses.list()">Response overview</a></li>
        </ul>
        <ul class="nav navmenu-nav">
            <li><a href="@controllers.admin.routes.Anomalies.overview()">Anomaly overview</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Anomalies <b class="caret"></b></a>
                <ul class="dropdown-menu navmenu-nav" role="menu">
                    @for(anomaly <- Anomalies.activeDetections) {
                        <li><a href="#">@anomaly.name</a></li>
                    }
                </ul>
            </li>
        </ul>
    </div>

    <div class="container">
        <h1 class="page-header">@subTitle</h1>

        @content
    </div>
} {
    @scripts
}