@import model.Product
@import dao.ProductsDAO
@(products: Seq[Product], userForm: Form[(String, String)])(implicit messages: Messages, productsDAO: ProductsDAO)

@admin_main("Products") {
    <h2>Create product</h2>

    @helper.form(action = admin.routes.Products.create()) {
        @helper.inputText(userForm("name"))
        @helper.inputText(userForm("charId"))

        <input type="submit" value="Submit" />
    }

    <h2>Products</h2>

    <table class="table">
        <thead>
            <tr>
                <td>Name</td>
                <td>Pings</td>
            </tr>
        </thead>
        <tbody>
            @for(prod <- products) {
                <tr>
                    <td><a href="@admin.routes.Products.view(prod.id)">@prod.name</a></td>
                    <td>idk</td>
                </tr>
            }
        </tbody>
    </table>
}