@import anomalydetection._
@import dao.ProductsDAO
@import util.FutureUtils._
@(detectors: java.util.Set[AnomalyDetector])(implicit productsDAO: ProductsDAO)

@severityBootstrapClass(severity: AnomalySeverity) = {
    @severity match {
        case Low => { active }
        case Significant => { warning }
        case Critical => { danger }
        case _ => {}
    }
}

@admin_main("Anomaly overview") {
    <table class="table">
        <thead>
            <tr>
                <td>Level</td>
                <td>Name</td>
                <td>Related links</td>
            </tr>
        </thead>
        <tbody>
            @for(det <- detectors) {
                @for(a <- det.detectAnomalies().await) {
                    <tr class="@severityBootstrapClass(a.severity)">
                        <td>@a.severity</td>
                        <td>@a.toShortString</td>
                        <td>
                            @for((name, targ) <- a.relatedLinks) {
                                <a href="@targ" class="btn btn-info">@name</a>
                            }
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
}