@import model.Product
@import dbrepo.PingResponseRepository
@import cyan.backend.Backend
@import dbrepo.PingExtrasRepository
@(prod: Product)(implicit backend: Backend, pingRespRepo: PingResponseRepository, pingExtrasRepo: PingExtrasRepository)

@scripts = {
    <script type="text/javascript">
        function fetchContents(link, divId) {
            $.ajax({
                url: link,
                success: function(response) {
                    $('#' + divId).text(response);
                }
            });
            return '<div id="'+ divId +'">Loading...</div>';
        }
        
        $('a[data-pingextra-key]').popover({
            html: true,
            trigger: 'hover',
            placement: 'bottom',
            content: function() {
                var divId =  "tmp-id-" + $.now();
                return fetchContents($(this).attr('href'), divId);
            }
        }).click(function(e) {
            e.preventDefault();
        });
    </script>
}

@admin_main(s"Viewing product: ${prod.name}", scripts) {
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Configuration</h3>
        </div>
        <div class="panel-body">
            <form class="row" action="@admin.routes.Products.configure(prod.id)" method="post">
                <input type="hidden" name="opt" value="unreg_response">
                <label for="" class="col-sm-4">Default response for unregistered licenses:</label>
                @defining(pingRespRepo.getExactResponse(Some(prod.id), None, None)) { resp =>
                    @snippet.responseselect(resp.map(_.id).getOrElse(-1))
                }
                <button type="submit" class="btn btn-primary btn-xs">Set</button>
            </form>
        </div>
    </div>

    <h3>Recent pings:</h3>

    <table class="table">
        <thead>
            <tr>
                <td>User</td>
                <td>IP</td>
                <td>License</td>
                <td>Timestamp</td>
                <td>Extra keys</td>
                <td>Response</td>
            </tr>
        </thead>
        <tbody>
            @for(ping <- prod.getRecentPings) {
                <tr>
                    <td>@ping.user @backend.createUserPopupHTML(ping.user)</td>
                    <td>@ping.ip</td>
                    <td><a href="@admin.routes.Products.licenseView(prod.id, ping.license)">@ping.license</a>  @backend.createLicensePopupHTML(ping.license)</td>
                    <td>@snippet.datetime(ping.date)</td>
                    <td>
                        @for(key <- ping.extras.keys) {
                            <a class="btn btn-info btn-xs" role="button" data-toggle="popover" data-trigger="focus" data-ping-id="@ping.id" data-pingextra-key="@key" href="@admin.routes.Pings.showPingExtra(ping.id, key)">
                                @key
                            </a>
                        }
                    </td>
                    <td>
                        @ping.response match {
                            case Some(resp) => {
                                <a href="@admin.routes.Responses.view(resp.id)" class="btn btn-info">@resp.name</a>
                            }
                            case None => {
                                Empty
                            }
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
