@import model.Product
@import model.Ping
@import cyan.backend.Backend
@import dao.PingExtrasDAO
@import dao.PingsDAO
@import dao.PingResponsesDAO
@import scala.concurrent.ExecutionContext
@import util.FutureUtils._
@import dao.ResponsesDAO
@import dao.ProductsDAO
@import dao.ProductConfigDAO
@(prod: Product, recentNewLicenses: Seq[Ping], recentPings: Seq[Ping])(implicit backend: Backend, ec: ExecutionContext, productsDAO: ProductsDAO, responsesDAO: ResponsesDAO, pingResponsesDAO: PingResponsesDAO, pingsDAO: PingsDAO, pingExtrasDAO: PingExtrasDAO, productConfigDAO: ProductConfigDAO)

@scripts = {
    <script type="text/javascript">
        function fetchContents(link, divId) {
            $.ajax({
                url: link,
                success: function(response) {
                    $('#' + divId).text(response);
                }
            });
            return '<div id="'+ divId +'">Loading...</div>';
        }
        
        $('a[data-pingextra-key]').popover({
            html: true,
            trigger: 'hover',
            placement: 'bottom',
            content: function() {
                var divId =  "tmp-id-" + $.now();
                return fetchContents($(this).data('valueurl'), divId);
            }
        });
    </script>
}

@layout_admin(prod.name, scripts) {
    <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
            <li><a href="@admin.prod.routes.Products.view(prod.id)">Overview</a></li>
        </ul>
        <ul class="nav nav-sidebar">
            <li><a href="">Ping extras</a></li>
        </ul>
    </div>

    <div class="col-sm-12 main">
        <h1>Viewing product: @prod.name</h1>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Configuration</h3>
            </div>
            <div class="panel-body">
                <form class="row" action="@admin.prod.routes.Products.configure(prod.id, "unreg_response")" method="post">
                    <label for="" class="col-sm-4">Default response for unregistered licenses:</label>
                    @snippet.responseselect(
                        pingResponsesDAO
                                .getExactResponse(Some(prod.id), None, None)
                                .await
                                .map(_.id)
                                .getOrElse(-1))
                    <button type="submit" class="btn btn-primary btn-xs">Set</button>
                </form>
                <form class="row" action="@admin.prod.routes.Products.configure(prod.id, "devlicense")" method="post">
                    <label for="devlicense" class="col-sm-4">Developer license (if set, hidden in some stats/lists):</label>
                    <input name="devlicense" value="@productConfigDAO.getValue(prod.id, "devlicense").await.getOrElse("")" type="text" />
                    <button type="submit" class="btn btn-primary btn-xs">Set</button>
                </form>
            </div>
        </div>

        <h3>Recent new licenses</h3>

        <table class="table">
            <thead>
                <tr>
                    <td>License</td>
                    <td>First timestamp</td>
                </tr>
            </thead>
            <tbody>
                @for(ping <- recentNewLicenses) {
                    <tr>
                        <td><a href="@admin.prod.routes.ProductLicenses.licenseView(prod.id, ping.license)">@ping.license</a>  @backend.createLicensePopupHTML(ping.license)</td>
                        <td>@snippet.datetime(ping.date)</td>
                    </tr>
                }
            </tbody>
        </table>

        <h3>Recent pings</h3>

        <table class="table">
            <thead>
                <tr>
                    <td>User</td>
                    <td>IP</td>
                    <td>License</td>
                    <td>Timestamp</td>
                    <td>Extra keys</td>
                    <td>Response</td>
                </tr>
            </thead>
            <tbody>
            @for(ping <- recentPings) {
                <tr>
                    <td>@ping.user @backend.createUserPopupHTML(ping.user)</td>
                    <td>@ping.ip</td>
                    <td><a href="@admin.prod.routes.ProductLicenses.licenseView(prod.id, ping.license)">@ping.license</a>  @backend.createLicensePopupHTML(ping.license)</td>
                    <td>@snippet.datetime(ping.date)</td>
                    <td>
                    @for(pe <- pingExtrasDAO.findExtras(ping.id).await) {
                        <a class="btn btn-info btn-xs" role="button" data-toggle="popover" data-trigger="focus" data-ping-id="@ping.id" data-pingextra-key="@pe.key" data-valueurl="@admin.routes.Pings.showPingExtra(ping.id, pe.key)" href="@admin.prod.routes.ProductPingExtras.view(prod.id, pe.key)">
                        @pe.key
                        </a>
                    }
                    </td>
                    <td>
                    @ping.responseId match {
                        case Some(respId) => {
                            @defining(responsesDAO.findById(respId).await.get) { resp =>
                                <a href="@admin.routes.Responses.view(resp.id)" class="btn btn-xs btn-info">@resp.name</a>
                            }
                        }
                        case _ => { Empty }
                    }
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}
