@import model.Product
@import dao.ProductsDAO
@import dao.ProdLicensePingDAO
@import util.FutureUtils._
@(products: Seq[Product], userForm: Form[(String, String)])(implicit messages: Messages, productsDAO: ProductsDAO, plpDAO: ProdLicensePingDAO)

@layout_admin_simple("Products") {
    <h2>Create product</h2>

    @helper.form(action = admin.routes.Products.create()) {
        @helper.inputText(userForm("name"))
        @helper.inputText(userForm("charId"))

        <input type="submit" value="Submit" />
    }

    <h2>Products</h2>

    <table class="table">
        <thead>
            <tr>
                <td>Name</td>
                <td>Ping count</td>
                <td>Latest ping</td>
            </tr>
        </thead>
        <tbody>
        @for(prod <- products) {
            <tr>
                <td><a href="@admin.routes.Products.view(prod.id)">@prod.name</a></td>
                <td>@plpDAO.findPingCount(prod).await</td>
                <td>
                @plpDAO.findRecentPings(prod, 1).await.headOption match {
                    case Some(ping) => {
                        @snippet.datetime(ping.date)
                    }
                    case None => {}
                }
                </td>
            </tr>
        }
        </tbody>
    </table>
}