@import model.Product
@import model.Response
@import model.ProductLicense
@import dao.PingResponsesDAO
@import dao.ProductsDAO
@import util.FutureUtils._
@import dao.ResponsesDAO
@import dao.ProdLicensePingDAO
@(prodLicense: ProductLicense)(implicit productsDAO: ProductsDAO, responsesDAO: ResponsesDAO, pingResponsesDAO: PingResponsesDAO, plpDAO: ProdLicensePingDAO)

@admin_main(s"Viewing license ${prodLicense.license} for product ${prodLicense.prod.name}") {

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Configuration</h3>
        </div>
        <div class="panel-body">
            <form class="row" action="@admin.routes.Products.setProductLicenseResponse(prodLicense.prod.id, prodLicense.license)" method="post">
                <input type="hidden" name="opt" value="unreg_response">
                <label for="" class="col-sm-4">Default response for all users of this license:</label>
                @defining(pingResponsesDAO.getExactResponse(Some(prodLicense.prod.id), Some(prodLicense.license), None).await) { resp =>
                    @snippet.responseselect(resp.map(_.id).getOrElse(-1))
                }
                <button type="submit" class="btn btn-primary btn-xs">Set</button>
            </form>
        </div>
    </div>

    <h3>Users using this license:</h3>
    <table class="table">
        <thead>
            <tr>
                <td>User</td>
                <td>Last used</td>
            </tr>
        </thead>
        <tbody>
            @for(ping <- plpDAO.findUserPings(prodLicense).await) {
                <tr>
                    <td>@ping.user</td>
                    <td>@snippet.datetime(ping.date)</td>
                </tr>
            }
        </tbody>
    </table>
}