@import model.Response
@import dao.ProductsDAO
@(responses: Seq[Response], userForm: Form[(String, String)])(implicit messages: Messages, productsDAO: ProductsDAO)

@layout_admin_simple("Responses") {
    <h2>Create response</h2>

    @helper.form(action = admin.routes.Responses.create()) {
        @helper.inputText(userForm("name"))
        @helper.textarea(userForm("response"))

        <input type="submit" value="Save" />
    }

    <h2>Responses</h2>

    @for(resp <- responses) {
        <a href="@admin.routes.Responses.view(resp.id)">@resp.name</a> <br>
    }
}