@import model.Product
@import model.Response
@import controllers.admin.Anomalies
@import dao.ProductsDAO
@import util.FutureUtils._
@(subTitle: String, scripts: Html = Html(""))(content: Html)(implicit productsDAO: ProductsDAO)

@layout("Admin: " + subTitle) {
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Cyan</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Dashboard</a></li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Products <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="@admin.prod.routes.Products.list()">Overview</a></li>
                            <li role="separator" class="divider"></li>
                            @for(prod <- productsDAO.getAll().await) {
                                <li><a href="@admin.prod.routes.Products.view(prod.id)">@prod.name</a></li>
                            }
                        </ul>
                    </li>
                    <li><a href="@admin.routes.Responses.list()">Responses</a></li>
                    <li><a href="@controllers.admin.routes.Anomalies.overview()">Anomalies</a></li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="container">
        <div class="row">
            @content
        </div>
    </div>
} {
    @scripts
}